*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#canvas1, #canvas2{
    border: 3px solid black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
}

.enemy, .background, .healthy, .blood, .powers, .icons{
    display: none;
}

#player, #boom{
    display: none;
}
