body {
    background-color: #b8be5a;
}

.video_container {
    position: relative;
    width: 505px;
    height: 265px;
}

.onTopVideo {
    /* display: none; */
    background-image: url('chalkboard.png');
    background-repeat: no-repeat;
    background-size: contain;
    position: absolute;
    top: 0%;
    left: 5%;
    width: 505px;
    height: 265px;
}

.onTopContent {
    /* padding-top: 12px;
    padding-left: 20px; */
    color: white;
    font-family: kalam;
    padding-left: 20px;
    /* font-size: 1.5em; */
    padding-right: 20px;
    width: 90%;
}

.choices{
    /* padding-right: 5px; */
    /* display: inline-block; */
    cursor: pointer;
}
.choices.numbers{
    font-family: Arial, Helvetica, sans-serif;
}
.choices:hover{
    border: 2px dashed white;
    margin: 0.5px;
    transform: scale(1.2);
}


.yesOrNo{
    padding-left: 10px; 
    cursor: pointer;
}

.yesOrNo:hover{
    background-color: rgba(213, 255, 113, 0.5);
    padding: 5px;
    border-radius: 5px;
}

.inbox{
    border: 1px solid rgb(251, 255, 0);
    border-radius: 5px;
    width: 90px;
    height: 100px;
    inline-size: 90px;
    overflow-wrap: break-word;
}
.inbox.over{
    border: 1px dashed rgb(251, 255, 0);
}

.interaction{
    display: none;
    opacity: 0.5;
}

.interaction.active{
    opacity: 1;
    transition: opacity 2s;
}

.star{
    cursor: move; 
    font-size: 1.5em;
    color:hsl(36, 100%, 50%)
}

.arrangeBtn{
    padding:5px; 
    cursor: pointer;
    margin-left: 30px;
    background-color: green;
    color: white;
}


@keyframes mymove {
    0% {
        background-color: hsl(120, 100%, 25%,0.2);
    }

    50% {
        background-color: hsl(120, 100%, 25%,1);
    }

    100% {
        background-color: hsl(120, 100%, 25%,0.2);
    }
}

.animate {
    animation-name: mymove;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 500ms;
    animation-iteration-count: infinite;
}

.animate:hover {
    animation-play-state: paused;
}


/* .slidebox {
    display: flex;
    background-image: url('chalkboard.png');
    background-repeat: no-repeat;
    width: 1024px;
    height: 768px;
    padding: 20px 30px;
    margin: 10px;
    font-family: 'Ubuntu';
    color: white;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1); 
} */

/* .slidebox.present .text-expand {
    -webkit-animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-expand 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
}

.text-zoom:hover {
    font-size: 1.5em;
    cursor: pointer;
    border: 2px dashed white;
    border-radius: 5%;
    padding: 2px;
    transition: font-size 0.5s ease;
    background-color: green; 
} */

/* .text-underline:hover {
    text-decoration: underline;
}

.text-background-yellow:hover {
    background-color: yellow;
    color: red;
    cursor: pointer;
}

.animateMove {
    animation: moveInfinite 1s linear infinite;
} */


/* @keyframes moveInfinite {
    0%{
        transform: translateX(0px);
    }
    25%{
        transform: translateX(-20px);
    }
    75%{
        transform: translateX(20px);
    }
    100%{
        transform: translateX(0px);
    }
} */
/* ----------------------------------------------
 * Generated by Animista on 2022-2-13 16:45:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
/* @-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }

    40% {
        opacity: 0.6;
    }

    100% {
        opacity: 1;
    }
}

.text-contract {
    -webkit-animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
    animation: tracking-in-contract 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both infinite;
} */

/* ----------------------------------------------
 * Generated by Animista on 2022-2-13 19:57:13
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-contract
 * ----------------------------------------
 */

/* @keyframes tracking-in-contract {
    0% {
        letter-spacing: 1em;
        opacity: 0.6;
    }

    50% {
        letter-spacing: normal;
        opacity: 1;
    }

    100% {
        letter-spacing: 1em;
        opacity: 0.6;
    }
} */