canvas {
    border: 2px solid #B402A4;
    background-color: #D99594;
    
}

.title {
    font-family: Century Gothic;
    font-size: 4rem;
    color: #273249;
    font-weight: bold;
}
.subTitle{
   font-size: 1.5rem;
}

@media only screen and (max-width: 760px) {
    
    p{
        line-height: 1.5;
    }
    .title{
        font-size: 2rem;
    }
    .subTitle{
        font-size: large;
    }
    #score tr, #score tbody, #score td,
    #divEdit tr, #divEdit tbody, #divEdit td{
        display: block;
    }

    #score thead,
    #divEdit thead{
        display: none;
    }
    #score td,
    #divEdit td{
        position: relative;
        padding-left: 35%;
    }

    #score tr:nth-of-type(odd),
    #divEdit tr:nth-of-type(odd){
        background-color: #eee;;
    }
    #score td b:before,
    #divEdit td b:before { 
		/* Now like a table header */
		position: absolute;
		/* Top or left values mimic padding */
		
		left: 6px;
		/* width: 45%;  */
		padding-right: 10px; 
		white-space: nowrap;
	}
    #divEdit td:nth-of-type(1) b:before { content: "Target (mL)"; }
	#divEdit td:nth-of-type(2) b:before { content: "Max Move"; }
	#divEdit td:nth-of-type(3) b:before { content: "Exact Move"; }
	#divEdit td:nth-of-type(4) b:before { content: "Question"; }
	#divEdit td:nth-of-type(5) b:before { content: "Delete"; }
    #score td:nth-of-type(1) b:before { content: "Stu ID"; }
	#score td:nth-of-type(2) b:before { content: "Question"; }
	#score td:nth-of-type(3) b:before { content: "Result"; }
	#score td:nth-of-type(4) b:before { content: "Moves"; }
	#score td:nth-of-type(5) b:before { content: "Time (ms)"; }
}

@keyframes mymove {
    0% {
        left: -10px;
    }

    50% {
        left: 15px;
    }

    100% {
        left: -10px;
    }
}

.animate {
    position: relative;
    animation-name: mymove;
    animation-duration: 1s;
    animation-timing-function: ease;
    animation-delay: 500ms;
    animation-iteration-count: infinite;
}

.animate:hover {
    animation-play-state: paused;
}

a.btn {
    transition: all 700ms ease;
}

a.btn:hover {
    background-color: hsl(202, 100%, 30%);
    font-size: 1.25rem;
    transform: rotate(-2deg);
}

.card{
    cursor: pointer;
    /* color: white; */
}

.card:hover{
    background-color: #00ff37;
}

.card.active{
    background-color: #00ff37;
}

.mylist-group-item {
    position: relative;
    display: block;
    padding: .75rem 1.25rem;
    border: 1px solid rgba(0,0,0,.125);
}